

/* --------------------------------- section common css --------------------------------- */
.section {position: relative; background-position: center 0; background-repeat: no-repeat;}
.section .section-inner {max-width: 880px;margin: 0 auto;padding: 220px 0 0;}

.section .main-txt .sub-title {font-size: 18px; font-weight: 500; line-height: 1; color: #01B3FF; letter-spacing: -0.36px; text-transform: uppercase;}
.section .main-txt .title {position: relative; display: inline-block; margin-top: 40px; padding-right: 27px; font-size: 60px; font-weight: 400; line-height: 1; letter-spacing: -1.4px;}
.section .main-txt .title::after {content: ''; position: absolute; bottom: 0; right: 0; width: 14px; height: 14px; border-radius: 50%; background-color: #01B3FF;}
.section .main-txt .desc {margin-top: 26px; font-size: 25px; font-weight: 400; line-height: 1.2; letter-spacing: -0.72px;}

.section .sub-txt {margin-top: 35px;}
.section .sub-txt .title {font-size: 28px; font-weight: 600; line-height: 1; letter-spacing: -0.56px;}
.section .sub-txt .desc {margin-top: 21px; font-size: 18px; font-weight: 500; line-height: 1.333; letter-spacing: -0.36px; color: rgba(255, 255, 255, 0.8);}

.section .card-list {display: flex; flex-wrap: wrap;}
.section .card-item p {font-size: 22px; font-weight: 600; line-height: 1.3; letter-spacing: -0.44px;}
.section .card-item span {display: inline-block; margin-top: 22px; font-size: 16px; font-weight: 600; line-height: 1.5;color: rgba(255,255,255,0.5);}
/* --------------------------------- section common css --------------------------------- */



/* --------------------------------- visual common css --------------------------------- */
.section#visual {height: 940px; background: url(../../common/images/visual.jpg) center no-repeat; background-size: 1665px 940px;}
.section#visual .section-inner {padding: 0;}
.section#visual .visual-content {position: absolute; top: 300px; left: 50%; transform: translateX(-430px);}

.section#visual .visual-txt h2 {font-size: 120px; font-weight: bold; line-height: 1; letter-spacing: -2.2px;}
/* .section#visual .visual-txt p {margin-top: 30px; font-size: 30px; font-weight: 100; line-height: 1.24; letter-spacing: 2px;} */

.section#visual .visual-content .btn-wrap {display: flex; column-gap: 20px; margin-top: 180px;} 
.section#visual .btn-wrap .btn {width: 178px; height: 54px; border-radius: 54px; padding: 0; border-width: 2px; font-size: 16px; font-weight: 500; text-align: center; line-height: 54px; letter-spacing: -0.32px;backdrop-filter: blur(1.5px); color: #fff;}
.section#visual .btn-wrap .btn span {position: relative; padding-right: 21px;}
.section#visual .btn-wrap .btn span::after {content: ''; position: absolute; top: 50%; right: 0; width: 12px; height: 12px; background: url(../../common/images/ico_btnArrow.png) center no-repeat; transform: translateY(-50%);}
/* --------------------------------- visual common css --------------------------------- */



/* --------------------------------- intro common css --------------------------------- */
.section#intro .card-wrap {margin-top: 100px;}
.section#intro .card-wrap .card-list {gap: 20px;counter-reset: var-count;}
.section#intro .card-list .card-item {overflow: hidden; position: relative; flex: 0 0 calc(50% - 10px); min-height: 200px; padding: 35px 26px 36px;border: 1px solid rgba(255, 255, 255, 0.10);background: rgba(255, 255, 255, 0.10); border-radius: 17px;}
.section#intro .card-list .card-item::after {counter-increment: var-count; content: "0"counter(var-count); position: absolute; right: -6px; bottom: -32px; font-size: 110px; font-weight: 900; color: rgba(1, 179, 255, 0.2); letter-spacing: -0.72px;}
/* --------------------------------- intro common css --------------------------------- */



/* --------------------------------- activities common css --------------------------------- */
/* .section#activities .sub-txt + .sub-txt {margin-top: 78px;} */

.section#activities .card-wrap {margin-top: 100px;}
.section#activities .card-wrap .card-list {column-gap: 30px;counter-reset: var-count;}
.section#activities .card-list .card-item {overflow: hidden; display: flex; flex-direction: column; border-top: 2px solid rgba(255, 255, 255, 0.2); position: relative; flex: 0 0 calc(33.333% - 20px);padding: 40px 0 0;}

.section#activities .card-item p {font-size: 28px; letter-spacing: -0.56px;}
.section#activities .card-item span {font-size: 16px; font-weight: 500; line-height: 1.333; letter-spacing: -0.36px;}
/* --------------------------------- activities common css --------------------------------- */


/* --------------------------------- recruitment common css --------------------------------- */
.section#recruitment .card-wrap {margin-top: 130px;}
.section#recruitment .card-wrap .card-list li {position: relative; width: 625px; height: 275px;margin: -30px 0 0 0;}
.section#recruitment .card-list .card-item {position: relative; width: 100%; height: 100%; padding: 66px 27px 0 54px; background: url(../../common/images/recruitmentL_bg.svg) 0 0 no-repeat; background-size: 100%;}
.section#recruitment .card-list li:nth-child(even) {margin: -30px 0 0 auto;}

.section#recruitment .card-list li:nth-child(even) .card-item {background: url(../../common/images/recruitmentR_bg.svg) 0 0 no-repeat;background-size: 100%;}

.section#recruitment .card-item p {position: relative; display: inline-block; padding-right: 54px;line-height: 1;}
.section#recruitment .card-item p::after {content: ''; position: absolute; right: 0; top: -3px; width: 33px; height: 28px; background: url(../../common/images/recruitment_ico.png) 0 0 no-repeat;}
.section#recruitment .card-item span {margin-top: 20px;letter-spacing: -0.32px;}
/* --------------------------------- recruitment common css --------------------------------- */

.section#contact {padding-bottom: 120px;}
.section#contact .apply-btn {display: block;width: 430px;height: 80px;margin: 80px auto 0;padding: 0;border-radius: 40px;border: none;background-color: #01B3FF;font-size: 25px;font-weight: bold;color: #fff;line-height: 80px;
text-align: center;}



/*--------------------------------- 모바일 --------------------------------- */
@media screen and (max-width: 880px) {
    .section .section-inner {max-width: calc(100% - 7.500vw);margin: auto;padding: 25vw 0 0;}
   
    .section .main-txt .sub-title {font-size: 2.7273vw; letter-spacing: -0.0409vw;}
    .section .main-txt .title {margin-top: 4.5455vw; padding-right: 2.7273vw; font-size: 6.3636vw; letter-spacing: -0.1591vw;}
    .section .main-txt .title::after {bottom: 0.4545vw;width: 1.3636vw; height: 1.3636vw;}
    .section .main-txt .desc {margin-top: 2.9545vw; font-size: 2.5000vw; letter-spacing: -0.0818vw;}

    .section .sub-txt {margin-top: 2.8409vw; font-size: 2.0455vw;}

    .section .card-item p {font-size: 2.5000vw; letter-spacing: -0.0500vw;}
    .section .card-item span {margin-top: 2.0455vw; font-size: 1.8182vw;}

    .section#visual {height: 115.5161vw; background-size: 176.1364vw 115.5161vw;}
    .section#visual .section-inner {padding: 0;}
    .section#visual .visual-content {position: absolute; top: 37.5000vw; left: 3.750vw; transform: translateX(0);}

    .section#visual .visual-txt h2 {font-size: 17.0455vw; font-weight: bold; line-height: 1; letter-spacing: -0.2500vw;}

    .section#visual .visual-content .btn-wrap {display: flex; column-gap: 2.2727vw; margin-top: 20.4545vw;} 
    .section#visual .btn-wrap .btn {width: 22.7273vw; height: 6.1364vw; border-radius: 6.1364vw; border-width: 0.2273vw; font-size: 2.2727vw; font-weight: 500; text-align: center; line-height: 6.1364vw; letter-spacing: -0.0364vw;}
    .section#visual .btn-wrap .btn span {position: relative; padding-right: 2.3864vw;}
    .section#visual .btn-wrap .btn span::after {content: ''; position: absolute; top: 50%; right: 0; width: 1.8182vw; height: 1.8182vw; background: url(../../common/images/ico_btnArrow.png) center no-repeat; transform: translateY(calc( -50% - 0.1136vw)); background-size: 100%;}


    .section#intro .card-wrap {margin-top: 11.3636vw;}
    .section#intro .card-list .card-item { flex: 0 0 100%; min-height: 16.8182vw; padding: 3.9773vw 2.9545vw 4.0909vw;border: 0.1136vw solid rgba(255, 255, 255, 0.10);background: rgba(255, 255, 255, 0.10); border-radius: 1.9318vw;}
    .section#intro .card-list .card-item::after {counter-increment: var-count; content: "0"counter(var-count); position: absolute; right: -0.6818vw; bottom: -3.6364vw; font-size: 12.5000vw; font-weight: 900; color: rgba(1, 179, 255, 0.2); letter-spacing: -0.0818vw;}

    .section#activities .card-wrap {margin-top: 11.3636vw;}
    .section#activities .card-wrap .card-list {column-gap: 3.4091vw;counter-reset: var-count;}
    .section#activities .card-list .card-item {border-top-width: 0.2273vw; flex: 0 0 calc(33.333% - 2.2727vw);padding: 4.5455vw 0 0;}

    .section#activities .card-item p {font-size: 3.4091vw; letter-spacing: -0.0636vw;}
    .section#activities .card-item span {font-size: 1.8182vw; font-weight: 500; line-height: 1.333; letter-spacing: -0.0409vw;}
   
    .section#recruitment .card-wrap {margin-top: 14.7727vw;}
    .section#recruitment .card-wrap .card-list li {position: relative; width: 71.0227vw; height: 31.2500vw;margin: -3.4091vw 0 0 0;}
    .section#recruitment .card-list .card-item {padding: 5.6818vw 3.0682vw 0 6.1364vw; background-size: 100%;}
    .section#recruitment .card-list li:nth-child(even) {margin: -3.4091vw 0 0 auto;}

    .section#recruitment .card-item p {padding-right: 5.2273vw;font-size: 2.7273vw;}
    .section#recruitment .card-item p::after {top: -0.3409vw; width: 3.0682vw; height: 2.5000vw; background-size: 100%;}
    .section#recruitment .card-item span {margin-top: 2.2727vw;font-size: 2.0455vw; letter-spacing: -0.0364vw;}

    .section#contact {padding-bottom: 13.6364vw;}
    .section#contact .section-inner {padding-top: 13.6364vw;}
    .section#contact .apply-btn {display: block;width: 48.8636vw;height: 9.0909vw;margin: 9.0909vw auto 0;padding: 0;border-radius: 4.5455vw;border: none;background-color: #01B3FF;font-size: 3.1818vw;font-weight: bold;color: #fff;line-height: 9.0909vw;
    text-align: center;}
}